{% extends "layout.html" %}
{% block body %}
<form method="POST" action="{{ url_for('tasks_create') }}">
  <table class="table table-sm">
<tr>
  <td>
    {{ form.name.label }}
  </td>

  <td>
    {{ form.name }}
  </td>

  <td>
    <ul>
      {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
  </td>
</tr>

<tr>
  <td>
    {{ form.done.label }}
  </td>

  <td>
    {{ form.done }}
  </td>
</tr>
<tr>
  <td>
    {{ form.groups.label }}
  </td>
  <td>
    {{ form.groups }}
  </td>
</tr>

<tr>
  <td colspan="3">
    <input type="submit" class="btn btn-primary" value="Add a new task"/>
  </td>
</tr>
</form>
{% endblock %}
